#BorderForBlur {
    box-shadow: 1px 0px 7px 0px rgb(0 0 0 / 40%), -1px 0px 7px 0px rgb(0 0 0 / 40%);
    width: calc(60% + 70px);
    height: 100%;
    backdrop-filter: blur(5px);
}
#BorserForBlur:before {
    width: 60%;
    height: 100%;
    background: white;
    opacity: 0.4;
}

#field {
    /*top: -80px;*/
    position:fixed;
    left:0px; 
    top:-50px;
    height:100%;
    width:100%;
}
#MarginForBlur {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: -webkit-fill-available;

}
    #MarginForBlur::before {
        filter: blur(10px);
    }
#ContBlur {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 35px 0px 150px;
}
#ContainerForHome {
    height: inherit;
    max-width: 100%;
    /*background: #212026;*/
    background-image: url("/public/images/Frame25.png");
    top:55px;
    /*position: relative;*/
    padding:0px;
}

p {
    fontSize: '17px';
    margin: 0px;
    font-family: 'Roboto';
}
