a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header {
  background-color: #212026;
  color: #FFFFFF;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.dropdown-toggle::after {
  display: none !important;
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
}
