.CardBodyDark {
    padding: 1em 0.8em;
    padding-top: 10px;
    margin-left: 50%;
    margin-right: 50%;
    height: max-content;
    background-color: #212026;
    border-radius: 6px;
    width:min-content;
}

.textForCardDark {
    width: 100%;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: 'Roboto' sans-serif;
}
.modal_cont{
    
    transition: 0.4s all;
}
.modal_cont.active{
}