
.f {
    display: flex;
    justify-content: center;
}

span.switcher {
    position: relative;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    margin: 5px 0;
}

    span.switcher input {
        appearance: none;
        position: relative;
        width: 300px;
        height: 30px;
        border-radius: 25px;
        background-color: #1E1E1E;
        outline: none;
    }

        span.switcher input:before, span.switcher input:after {
            z-index: 2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #EEEEEE;
        }

        span.switcher input:before {
            font-size:14px;
            content: 'Физическое лицо';
            left: 5px;
        }

        span.switcher input:after {
            content: 'Юридическое лицо';
            font-size: 14px;
            right: 5px;
        }

    span.switcher label {
        z-index: 1;
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-radius: 30px;
    }

    span.switcher.switcher-1 input {
        transition: 0.25s -0.1s;
    }

        span.switcher.switcher-1 input:checked {
            background-color: #EEEEEE;
        }

            span.switcher.switcher-1 input:checked:before {
                color: #EEEEEE;
                transition: color 0.5s 0.2s;
            }

            span.switcher.switcher-1 input:checked:after {
                color: #78797B;
                transition: color 0.5s;
            }

            span.switcher.switcher-1 input:checked + label {
                left: 0px;
                right: 160px;
                background: #047BF8;
                transition: left 0.5s, right 0.4s 0.2s;
            }

        span.switcher.switcher-1 input:not(:checked) {
            background: #EEEEEE;
            transition: background 0.5s -0.1s;
        }

            span.switcher.switcher-1 input:not(:checked):before {
                color: #78797B;
                transition: color 0.5s;
            }

            span.switcher.switcher-1 input:not(:checked):after {
                color: #EEEEEE;
                transition: color 0.5s 0.2s;
            }

            span.switcher.switcher-1 input:not(:checked) + label {
                left: 140px;
                right: 0px;
                background: #047BF8;
                transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
            }


@keyframes turn-on {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}


@keyframes turn-off {
    0% {
        right: 100%;
    }

    100% {
        right: 0%;
    }
}
