/*
!* Provide sufficient contrast against white background *!
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/

.icon {
    filter: invert(99%) sepia(100%) saturate(15%) hue-rotate(111deg) brightness(106%) contrast(100%);
    width: 100%;
    height: 100%;
}

.rs-popover {
    position: absolute;
    background-color: #262626;
    color: #FFFFFF;
}

.background-transparent{
    border: none;
    background-color: transparent;
    outline: none;
}