.HistoryTableText {
    font-family: 'Bitter';
    font-size: 14px;
    padding: 0px;
    color: white;
    border-style: hidden;
    min-width: max-content;
}

.ForBox {
    border-color: #4A4A4A;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    padding: 10px 15px;
    font-weight: normal !important;
}
.PaddingForSum{
    padding:0px 40px;
}
.recTabl {
    padding: 10px 15px;
    font-weight: normal !important;
    border-color: #4A4A4A;
    border-style: solid;
    border-width: 1px;
    min-width: 12em;
}
.forTextTable {
    caption-side: top;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px !important;
    text-align: start;
    padding:0px;
}