
.mapSidebarButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: block;
    /*width: 100%;*/
    cursor: pointer;
    text-align: center;
}

.icon {
    filter: invert(99%) sepia(100%) saturate(15%) hue-rotate(111deg) brightness(106%) contrast(100%);
    width: 100%;
    height: 100%;
}

.iconMapPin{
    filter: invert(52%) sepia(94%) saturate(390%) hue-rotate(2deg) brightness(95%) contrast(94%);
}
