.icon_for_header {
    width: 20px;
    fill: white!important;
    filter:invert(1);
}
#DTwin-logo {
    font-family: Roboto!important;
    width: 30%;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
}
#headerForHome {
    padding: 0px;
    background-color: #212026;
    position: absolute;
    min-width: 100%;
    width: 100%;
    z-index: 1;
}
#DTwin-logo:hover:after {
    content: "AgroDigitalTwin" !important;
}
#DTwin-logo:after {
        content: "ADTwin" !important;
    }

#nav_links {
    margin: 0;
    display: flex;
    min-width: 213px;
    justify-content: right;
    width: max-content;
    position: relative;
}
#menu{
    display:flex;
    justify-content:space-around;
}
.navbar-brand {
    display: inline;
    font-size: 13px;
    font-family: 'Open Sans' !important;
}
.navbar-brandForD {
    display: inline;
    font-size: 28px;
    font-family: 'Yeseva One' !important;
}
#hForModels {
    height: 90px;
    min-height: 90px;
    padding: 0px;
    margin: 0px;
    position:fixed;
    width: 100%;
    top:0px;
 
}
#menu1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}