.CardBodyDark {
    padding: 1em 0.8em;
    padding-top: 10px;
    /*margin-left: 60%;*/
    height: max-content;
    background-color: #212026;
    border-radius: 6px;
    /*width:min-content;*/
}

.textForCardDark {
    width: 100%;
    padding: 2.5% 0;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}
.modal_cont{
    
    transition: 0.4s all;
}
.modal_cont.active{
}