@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
    string theme;
    string themeGray;
    if (!(Request.Cookies.TryGetValue("ThemeSave", out theme)))
    {
        theme = "dark";
    }
    themeGray = theme + "Gray";
}

<h1 class="@themeGray text-white text-center">@ViewData["Title"]</h1>
<h4 id="external-login-title">Свяжите свой @Model.ProviderDisplayName аккаунт.</h4>
<hr />

<p id="external-login-description" class="@themeGray text-white text-center text-info">
    Вы успешно прошли аутентификацию с помощью <strong>@Model.ProviderDisplayName</strong>.
    Пожалуйста, введите адрес электронной почты для этого сайта ниже и нажмите кнопку «Регистрация», чтобы завершить вход.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="@themeGray text-white text-center" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
