@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение забытого пароля";
    string theme;
    string themeGray;
    if (!(Request.Cookies.TryGetValue("ThemeSave", out theme)))
    {
        theme = "dark";
    }
    themeGray=theme+"Gray";
}

<h1 class=" @themeGray text-white text-center">@ViewData["Title"]</h1>
<p class=" @themeGray text-white text-center">
    Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
</p>

