@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли свой пароль?";
    string theme;
    string themeGray;
    if (!(Request.Cookies.TryGetValue("ThemeSave", out theme)))
    {
        theme = "dark";
    }
    themeGray = theme + "Gray";
}

<h1 class=" @themeGray text-white text-center">@ViewData["Title"]</h1>
<h4 class=" @themeGray text-white text-center">Введите адрес электронной почты.</h4>
<hr />
<div class="row d-flex flex-column align-items-center">
    <div class="col-md-4">
        <form method="post" class="d-flex flex-column align-items-center">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="@themeGray text-white" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
