@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
    string theme;
    string themeGray;
    if (!(Request.Cookies.TryGetValue("ThemeSave", out theme)))
    {
        theme = "dark";
    }
    themeGray = theme + "Gray";
}

<h1 class="@themeGray text-white">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="@themeGray text-white">
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p class="@themeGray text-white">
        Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свою учетную запись.
</p>
    }
}
