@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
    string theme;
    string themeGray;
    if (!(Request.Cookies.TryGetValue("ThemeSave", out theme)))
    {
        theme = "dark";
    }
    themeGray = theme + "Gray";
}

<h1 class="@themeGray text-white text-center">@ViewData["Title"]</h1>
<p class="@themeGray text-white text-center">
    Ваш пароль был сброшен. Пожалуйста, <a asp-page="./Login">нажмите здесь, чтобы войти</a>.
</p>
