#FormControlSelect {
    appearance: auto !important;
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: 0px 0px 0px !important;
    height: 35px;
    color: #78797B;
}
.contForCombobox {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top:10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.padCombobox{
    padding: 10px 0px 0px 0px;
}

.textForSign {
    font-size: 14px;
    margin: 7px 0px !important;
    display: flex;
    font-family: 'Open Sans';
}
.textForSign12 {
    font-size: 12px;
    margin: 7px 0px !important;
    display: flex;
    font-family: 'Open Sans';
}
.opt{
    padding: 0px 0px 0px!important;
}