/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

header {
    background-color: #212026;
    color: #FFFFFF;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #262626;
    margin-bottom: 60px;
}

.card {
    background-color: #212026;
    color: #FFFFFF;
    margin: 2%;
    padding: 2%;
    border-radius: 2.5%;
    max-width: 40%;
}

.footer {
    position: absolute;
    background-color: #212026;
    color: #fff;
    bottom: 0;
    width: 100%;
    /*white-space: nowrap;*/
    /* Set the fixed height of the footer here */
    /*height: 60px;
    line-height: 60px;*/ /* Vertically center the text there */
}
.light {
    background: #FFFFFF !important;
    color: #334152 !important;
    fill: #334152 !important;
}

.lightIcon {
    fill: #334152 !important;
    background: #FFFFFF00 !important;
    filter: contrast(1) brightness(1) !important;
}

.lightGray {
    background-color: #F2F4F8 !important;
    color: #334152 !important;
    fill: #334152 !important;
    filter: none;
}

.lightBorderForCard {
    border: 1px solid #000000 !important;
}

.lightHeader {
    box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 40%);
}

.lightForInsideCard {
    background: #F2F4F8 !important;
}

.lightForInsideCardShadow {
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 40%);
}

.lightStep {
    background-color: #d0d0d1 !important;
    border: 1px solid #848487 !important;
    color: #334152 !important;
}