.TarifCard {
    width: inherit;
    background-color: #262626;
    border: 2px solid #000000;
    margin: 2px 2px;
}
.text {
    font-family: 'Open Sans';
    font-size: 12px;
    text-align: center;
    margin: 20px 20px;
}
#tarifUL {
    padding: 0px 0px 0px 13px!important;
    text-align: start !important;
    align-self: center !important;
    margin: 20px 0px !important;
}
