.FirstCardH {
    padding: 15px 15px;
}

.SecondCardH {
    padding-left: 13px;
    padding-top: 15px;
    margin-bottom: 2px;
}

.contTwoLevelForInside {
    padding: 3px 7px;
    margin: 0px 0px;
}
.ContForBut {
    display: flex;
    justify-content: center;
}

.buttonFirstCardInside {
    font-size: 14px;
    height: max-content;
    margin-bottom: 10px;
    padding: 3px 20px;
    border-radius: 5px;
    font-family: 'Open Sans';
}
